/* 

--- 01 Typography System

-FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

-FONT WEIGHTS:
Default: 400
Medium 500
Semi-bold 600
Bold 700

-LINE HEIGHTS:
Default: 1
1.05
1.6

--- 02 Color

- Primary: #228be6

- Tints: #e9f3fd #d3e8fa #4ea2eb
- Shades: #1f7dcf #0a2a45 
- Accents:
- Greys: #555, #333, #6f6f6f, #888, #767676

--- 03 SHADOWS


--- 04 BORDER-RADIUS

Default: 9px


--- 05 WHITESPACE

- SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/*************************************/
/* General Reuseable Components */
/*************************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1f7dcf;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 1px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: all .3s;
  font-weight: 600;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}


.btn--full:link,
.btn--full:visited {
  background-color: #228be6;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #1f7dcf;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #e9f3fd;

  /* Add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #0a2a45;
  color: #e9f3fd;    
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #0a2a45;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #228be6;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all .3s;
}

.link:hover,
.link:active {
  color: #1f7dcf;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;

}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #228be6;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(34, 139, 230, 0.5);
}

/* Helper class */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}