/*************************************/
/* Header */
/*************************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9f3fd;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo {
    height: 2.2rem;
}

.header-title:link,
.header-title:visited {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 3rem;
    transition: all .3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-title:hover,
.header-title:active {
    color: #1f7dcf;
}

.title {
    color: #14538a;
}

/*************************************/
/* Navigation */
/*************************************/

.main-nav-list {
    display: flex;
    list-style: none;
    gap: 4.8rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all .3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #1f7dcf;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #228be6;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #1f7dcf;
}

/* MOBILE */
.btn-mobile-nav {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/* Sticky Navigation */
.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}

/*************************************/
/* Hero Section */
/*************************************/


.section-hero {
    background-color: #e9f3fd;
    padding: 4.8rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;
    transition: background-color .3s;
    font-weight: 600;
}


.btn--full:link,
.btn--full:visited {
    background-color: #228be6;
    color: #fff;
}

.btn--full:hover,
.btn--full:active {
    background-color: #1f7dcf;
}

.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: #555;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #e9f3fd;

    /* Add border inside */
    box-shadow: inset 0 0 0 3px #fff;
}

.hero-img {
    width: 100%;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #e9f3fd;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #1f7dcf;
    font-weight: 700;
}

/*************************************/
/* Featured In Section */
/*************************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 0.5;
}

/*************************************/
/* How It Works Section */
/*************************************/

.section-how {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.step-img-box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #e9f3fd;
    z-index: -2;
}

.step-img-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #d3e8fa;
    z-index: -1;
}

.step-img {
    width: 35%;
}

/*************************************/
/* Meals Section */
/*************************************/

.section-meals {
    padding: 9.6rem 0;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all .3s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}


.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #228be6;
}

.meal-img {
    width: 100%;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}



/*************************************/
/* Testimonials Section */
/*************************************/

.section-testimonials {
    background-color: #e9f3fd;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all .4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}


/*************************************/
/* Pricing Section */
/*************************************/

.section-pricing {
    padding: 9.6rem 0;
}

.pricing-plan {
    border-radius: 11px;
    padding: 4.8rem;
    width: 75%;

}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #e9f3fd;
    padding: 4.6rem;
}

.pricing-plan--complete {
    background-color: #e9f3fd;
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;
    background-color: #ffd43b;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem 8rem;
    color: #333;
    transform: rotate(45deg);
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    color: #1f7dcf;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: .8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.feature-icon {
    color: #228be6;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #e9f3fd;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;
}

.feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}


/*************************************/
/* CTA Section */
/*************************************/

.section-cta {
    padding: 4.8rem 0 12.8rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    /* background-color: #228be6; */
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #4ea2eb, #228be6);
    overflow: hidden;
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #0a2a45;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta .heading-secondary {
    color: #0a2a45;
    margin-bottom: 3.2rem;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, rgb(78, 162, 235, 0.35), rgb(34, 139, 230, 0.35)), url(../img/eating.jpg);
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}


.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    background-color: #e9f3fd;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: inherit;
}

.cta-form input::placeholder {
    color: #aaa;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}


/*************************************/
/* Footer */
/*************************************/

.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.logo-col .header-title {
    display: block;
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6;
    margin-top: auto;
}


.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all .3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}